@import "tailwindcss";

@theme inline {
  --color-background: #ffffff; /* fondo general */
  --color-textbox: #14244e; /* color para campos de texto */
  --color-rwa: #0058ff; /* azul principal / marca RWA */
}
